.vscode
*.scss
*.sass
*.ai
archiveEngine.js
matter.js
matterTest.js
enemy-bug.png
GemBlue.png
GemGreen.png
GemOrange.png
Star.png
Selector.png
playerShip.png
playerShip_v1.png
playerShip_v2.png
Rock.png
splashScreen.png
100873__xythe__space2a.wav
396231__romariogrande__tentacle-wedding.mp3
Jump11.wav
dist/
js/extras/es5-*.js